{% load i18n static %}
<footer class="footer">
  <div class="footer-inner">
    <a class="footer-link" href="https://www.vstu.ru/" rel="noopener">
      <i data-lucide="external-link" class="icon"></i>
      {% translate "Официальный сайт ВолгГТУ" %}
    </a>
    <a class="footer-link" href="https://www.vstu.ru/student/raspisaniya/zanyatiy/" rel="noopener">
      <i data-lucide="calendar" class="icon"></i>
      {% translate "Официальный источник расписаний" %}
    </a>
    <div class="footer-contact">
      <i data-lucide="mail" class="icon"></i>
      oaod@vstu.ru
    </div>
    <div class="copyright">{% translate "© Волгоградский государственный технический университет, 2026" %}</div>
  </div>
</footer>
